body{
    background-color: #23c079;

    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box {
    background-color: #0e2221;
    width: 90%;
    height: 90vh;
    border-radius: 5px;
    color: white;
    font-family: Bahnschrift;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
}
.box h1{
    font-size: 70px;
    margin-top: 50px;
}

.container-input{
    background: transparent;
    padding: 5px;
    
    display: flex;
    border-radius: 5px;
}
.container-input input{
    background-color: white;
    border: 0;
    width: 460px;
    outline: none;
    color: rgb(0, 0, 0);
    margin-right: 8px;
    border-radius: 5px;
}
.container-input input::placeholder{
    color: #000000f1;
    margin-left: 10px;
    padding: 5px;
}

.buttonSearch{
    background-color: #0c8df2;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}
.buttonSearch:hover{
    background-color: rgba(12, 141, 242,0.8);

}

.main{
    font-family: calibri;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 480px;
    margin-top: 9px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    
}




@media (max-width:563px) {
    .box h1{
        font-size: 60px;
    }
    .container-input input{
        width: 400px;
    }
    .main{
        width: 440px;
    }
}

@media (max-width:518px) {
    .box h1{
        font-size: 47px;
    }
    .container-input input{
        width: 300px;
    }
    .main{
        width: 315px;
    }
}
@media (max-width:375px) {
    .box h1{
        font-size: 42px;
    }
    .container-input input{
        width: 260px;
    }
    .main{
        width: 280px;
    }
}