body{
    background-color: #23c079;

    
}
img{
    width: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box {
    background-color: #0e2221;
    width: 80%;
    height: 90vh;
    border-radius: 5px;
    color: white;
    font-family: Arial;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
}
.box h1{
    font-size: 80px;
    margin-top: 0px;
}

.container-input{
    background: transparent;
    padding: 5px;
    
    display: flex;
    border-radius: 5px;
}
.container-input input{
    background-color: white;
    border: 0;
    width: 600px;
    height: 35px;
    outline: none;
    color: rgb(0, 0, 0);
    margin-right: 8px;
    border-radius: 5px;
}
.container-input input::placeholder{
    color: #000000f1;
    margin-left: 10px;
    padding: 5px;
}

.buttonSearch{
    background-color: #0c8df2;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}
.buttonSearch:hover{
    background-color: rgba(12, 141, 242,0.8);

}

.main{
    font-family: calibri;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 610px;
    height: 32%;
    margin-top: 9px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.main h2{
    font-size: 40px;
    margin-top: 0;
}
.main span{
    font-size: 25px;
    
}

@media (max-width:790px) {
    .box h1{
        font-size: 60px;
    }
    .container-input input{
        width: 400px;
    }
    .main{
        width: 440px;
    }
    img{
        width: 20%;
    }
}

@media (max-width:583px) {
    .box h1{
        font-size: 40px;
        text-align: center;
    }
    .container-input input{
        width: 200px;
    }
    .main{
        width: 220px;
    }
    .main h2{
        font-size: 30px;
    }
    .main span{
        font-size: 20px;
    }
    img{
        margin-top: 50px;
        width: 30%;
    }
}
